In [1]:
import pandas as pd

In [50]:
df = pd.read_csv('Taxi_Trips_-_2019.csv')

In [51]:
df.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,f24ef1302cd672bbcbeb7dbc60ef78dceeb138b7,1801165e22d31b0d2557544664d5ac37511b6cd2972126...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,885.0,3.45,NaN,NaN,NaN,NaN,...,4.0,16.75,Cash,Flash Cab,NaN,NaN,NaN,NaN,NaN,NaN
1,8e40b9c59af7b2897dc7a1163c472903e0dd6e9a,7a387c4ea03aea6f051c2083737fa232315f8dad35cf36...,01/01/2019 12:00:00 AM,01/01/2019 12:00:00 AM,8.0,0.00,NaN,NaN,NaN,NaN,...,0.0,3.25,Cash,Chicago Carriage Cab Corp,NaN,NaN,NaN,NaN,NaN,NaN
2,189631d3891a33361d68ef460c2d3049179f9837,d1d781b6807176ed53fbb9d0010dd0a87e29c073984bda...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,960.0,4.90,NaN,NaN,NaN,NaN,...,1.0,20.10,Credit Card,Star North Management LLC,NaN,NaN,NaN,NaN,NaN,NaN
3,e4941ac16f2fccf07218d2656a056103a4bf64a6,6933327f9cc740e893a882282f7d06460207d6d4e084b3...,01/01/2019 12:00:00 AM,01/01/2019 12:00:00 AM,420.0,1.50,NaN,NaN,NaN,NaN,...,0.0,7.50,Cash,Star North Management LLC,NaN,NaN,NaN,NaN,NaN,NaN
4,57a104b6cf260f117de051e61193e806ceb0f347,6933327f9cc740e893a882282f7d06460207d6d4e084b3...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,420.0,0.50,NaN,NaN,NaN,NaN,...,1.0,8.00,Credit Card,Star North Management LLC,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df.shape

(16477365, 23)

In [53]:
df.dtypes

Trip ID                        object
Taxi ID                        object
Trip Start Timestamp           object
Trip End Timestamp             object
Trip Seconds                  float64
Trip Miles                    float64
Pickup Census Tract           float64
Dropoff Census Tract          float64
Pickup Community Area         float64
Dropoff Community Area        float64
Fare                          float64
Tips                          float64
Tolls                         float64
Extras                        float64
Trip Total                    float64
Payment Type                   object
Company                        object
Pickup Centroid Latitude      float64
Pickup Centroid Longitude     float64
Pickup Centroid Location       object
Dropoff Centroid Latitude     float64
Dropoff Centroid Longitude    float64
Dropoff Centroid  Location     object
dtype: object

In [54]:
#subset the bigger dataframe and filter out the columns not being used for this project
sel_cols = df[["Trip Start Timestamp", "Trip Seconds", "Trip Miles", "Pickup Community Area", "Dropoff Community Area", "Company"]]

In [55]:
sel_cols.head()

,Trip Start Timestamp,Trip Seconds,Trip Miles,Pickup Community Area,Dropoff Community Area,Company
0,01/01/2019 12:00:00 AM,885.0,3.45,NaN,NaN,Flash Cab
1,01/01/2019 12:00:00 AM,8.0,0.00,NaN,NaN,Chicago Carriage Cab Corp
2,01/01/2019 12:00:00 AM,960.0,4.90,NaN,NaN,Star North Management LLC
3,01/01/2019 12:00:00 AM,420.0,1.50,NaN,NaN,Star North Management LLC
4,01/01/2019 12:00:00 AM,420.0,0.50,NaN,NaN,Star North Management LLC

In [56]:
#remove all trips less than 0.5 miles, and more than 100 miles
sel_cols = sel_cols[(sel_cols["Trip Miles"] >= 0.5) & (sel_cols["Trip Miles"] <= 100)]

In [57]:
sel_cols.shape

(12865503, 6)

In [58]:
#remove all trips less than 60 seconds, and greater than 5 hours
sel_cols = sel_cols[(sel_cols["Trip Seconds"] >= 60) & (sel_cols["Trip Seconds"] <= 18000)]

In [59]:
sel_cols.shape

(12844667, 6)

In [60]:
#remove all trips that either start or end outside of a Chicago community area
sel_cols = sel_cols[(sel_cols["Pickup Community Area"] >= 1) & (sel_cols["Pickup Community Area"] <= 77)]
sel_cols = sel_cols[(sel_cols["Dropoff Community Area"] >= 1) & (sel_cols["Dropoff Community Area"] <= 77)]
sel_cols.shape

(11398006, 6)

In [61]:
#change datatypes to smaller types for better memory usage
sel_cols = sel_cols.astype({"Trip Seconds": int, "Pickup Community Area": int, "Dropoff Community Area": int, "Company": str})

In [117]:
sel_cols["Trip Date"] = pd.to_datetime(sel_cols["Trip Start Timestamp"]).dt.date
sel_cols["Trip Time"] = pd.to_datetime(sel_cols["Trip Start Timestamp"]).dt.hour

In [114]:
# sel_cols["Trip Time"] = sel_cols["Trip Time"][:2]

In [118]:
sel_cols.dtypes

Trip Start Timestamp       object
Trip Seconds                int64
Trip Miles                float64
Pickup Community Area       int64
Dropoff Community Area      int64
Company                    object
Trip Date                  object
Trip Time                   int64
dtype: object

In [127]:
#we have 55 unique company names
len(sel_cols["Company"].unique())

55

In [128]:
sel_cols["Company"].unique()

array(['Blue Ribbon Taxi Association Inc.', 'Taxi Affiliation Services',
       'Taxicab Insurance Agency, LLC', 'Choice Taxi Association',
       'Star North Management LLC', 'Top Cab Affiliation',
       'Chicago Independents', 'KOAM Taxi Association',
       '1085 - 72312 N and W Cab Co', 'Chicago Medallion Management',
       'Chicago Carriage Cab Corp', 'Flash Cab', 'Globe Taxi',
       'Patriot Taxi Dba Peace Taxi Associat', 'City Service',
       '24 Seven Taxi', 'Sun Taxi', 'Medallion Leasin',
       'Taxi Affiliation Service Yellow', 'Nova Taxi Affiliation Llc',
       'Gold Coast Taxi', 'Chicago Taxicab', 'Blue Diamond', 'Yellow Cab',
       '312 Medallion Management Corp', 'Checker Taxi Affiliation',
       '5 Star Taxi', 'Metro Jet Taxi A', 'Checker Taxi',
       '6742 - 83735 Tasha ride inc', 'Setare Inc',
       'American United Taxi Affiliation', '1469 - 64126 Omar Jada',
       'American United', '6743 - 78771 Luhak Corp', 'Leonard Cab Co',
       '4053 - 40193 Adwar H. Nikola', '3011 - 66308 JBL Cab Inc.',
       '4623 - 27290 Jay Kim', '3094 - 24059 G.L.B. Cab Co',
       '2092 - 61288 Sbeih company', '2733 - 74600 Benny Jona',
       '6574 - Babylon Express Inc.',
       '3623 - 72222 Arrington Enterprises', 'Chicago Star Taxicab',
       '3721 - Santamaria Express, Alvaro Santamaria',
       '5006 - 39261 Salifu Bawa', '5062 - 34841 Sam Mestas',
       '5074 - 54002 Ahzmi Inc', '3620 - 52292 David K. Cab Corp.',
       '5874 - 73628 Sergey Cab Corp.', '3591 - 63480 Chuks Cab',
       'Petani Cab Corp', 'U Taxicab', '3556 - 36214 RC Andrews Cab'],
      dtype=object)

In [131]:
#create a dictionary for every taxi service
ids = {'name':['Blue Ribbon Taxi Association Inc.', 
               'Taxi Affiliation Services',
               'Taxicab Insurance Agency, LLC', 
               'Choice Taxi Association',
               'Star North Management LLC', 
               'Top Cab Affiliation',
               'Chicago Independents', 
               'KOAM Taxi Association',
               '1085 - 72312 N and W Cab Co', 
               'Chicago Medallion Management',
               'Chicago Carriage Cab Corp', 
               'Flash Cab', 'Globe Taxi',
               'Patriot Taxi Dba Peace Taxi Associat', 
               'City Service',
               '24 Seven Taxi', 
               'Sun Taxi', 
               'Medallion Leasin',
               'Taxi Affiliation Service Yellow', 
               'Nova Taxi Affiliation Llc',
               'Gold Coast Taxi', 
               'Chicago Taxicab', 
               'Blue Diamond', 
               'Yellow Cab',
               '312 Medallion Management Corp', 
               'Checker Taxi Affiliation',
               '5 Star Taxi', 
               'Metro Jet Taxi A', 
               'Checker Taxi',
               '6742 - 83735 Tasha ride inc', 
               'Setare Inc',
               'American United Taxi Affiliation', 
               '1469 - 64126 Omar Jada',
               'American United',
               '6743 - 78771 Luhak Corp', 
               'Leonard Cab Co',
               '4053 - 40193 Adwar H. Nikola',
               '3011 - 66308 JBL Cab Inc.',
               '4623 - 27290 Jay Kim', 
               '3094 - 24059 G.L.B. Cab Co',
               '2092 - 61288 Sbeih company', 
               '2733 - 74600 Benny Jona',
               '6574 - Babylon Express Inc.',
               '3623 - 72222 Arrington Enterprises', 
               'Chicago Star Taxicab',
               '3721 - Santamaria Express', 
               'Alvaro Santamaria',
               '5006 - 39261 Salifu Bawa', 
               '5062 - 34841 Sam Mestas',
               '5074 - 54002 Ahzmi Inc', 
               '3620 - 52292 David K. Cab Corp.',
               '5874 - 73628 Sergey Cab Corp.',
               '3591 - 63480 Chuks Cab',
               'Petani Cab Corp',
               'U Taxicab', 
               '3556 - 36214 RC Andrews Cab'],
       
     'code':['BRTAI', 
               'TAS',
               'TIAL', 
               'CTA',
               'SNML', 
               'TCA',
               'CI', 
               'KTA',
               'NWCC', 
               'CMM',
               'CCCC', 
               'FC', 
               'GT',
               'PTDPTA', 
               'CS',
               '24ST', 
               'ST', 
               'ML',
               'TASY', 
               'NTAL',
               'GCT', 
               'CT', 
               'BD', 
               'YC',
               '312MMC', 
               'ChTA',
               '5ST', 
               'MJTA', 
               'ChT',
               '68TRI', 
               'SI',
               'AUTA', 
               '16OJ',
               'AU',
               '67LC', 
               'LCC',
               '44AHN',
               '36JCI',
               '42JK', 
               '32GCC',
               '26SC', 
               '27BJ',
               '6BEI',
               '37AE', 
               'CST',
               '3SE', 
               'AS',
               '53SB', 
               '53SM',
               '55AI', 
               '35DKCC',
               '57SCC',
               '36CC',
               'PCC',
               'UT', 
               '33RCAC']}

ids = dict(zip(ids['name'], ids['code']))

In [132]:
sel_cols['CompanyNew'] = sel_cols['Company'].replace(ids, regex=True)

In [135]:
sel_cols.head(300)

,Trip Start Timestamp,Trip Seconds,Trip Miles,Pickup Community Area,Dropoff Community Area,Company,Trip Date,Trip Time,CompanyNew
18,01/01/2019 12:00:00 AM,1260,0.60,77,28,Blue Ribbon Taxi Association Inc.,2019-01-01,0,BRTAI
20,01/01/2019 12:00:00 AM,360,0.80,8,8,Taxi Affiliation Services,2019-01-01,0,TAS
22,01/01/2019 12:00:00 AM,360,1.00,8,8,Taxi Affiliation Services,2019-01-01,0,TAS
23,01/01/2019 12:00:00 AM,420,0.80,8,8,"Taxicab Insurance Agency, LLC",2019-01-01,0,TIAL
24,01/01/2019 12:00:00 AM,180,0.70,77,4,Taxi Affiliation Services,2019-01-01,0,TAS
...,...,...,...,...,...,...,...,...,...
519,01/01/2019 12:15:00 AM,112,0.56,6,6,Chicago Carriage Cab Corp,2019-01-01,0,CCCC
520,01/01/2019 12:15:00 AM,756,3.20,28,33,Taxi Affiliation Service Yellow,2019-01-01,0,TASY
521,01/01/2019 12:15:00 AM,838,5.55,77,7,Patriot Taxi Dba Peace Taxi Associat,2019-01-01,0,PTDPTA
524,01/01/2019 12:15:00 AM,844,4.70,7,8,Taxi Affiliation Service Yellow,2019-01-01,0,TASY
525,01/01/2019 12:15:00 AM,600,0.90,8,8,Medallion Leasin,2019-01-01,0,ML

In [136]:
new_data = sel_cols[["Trip Seconds", "Trip Miles", "Pickup Community Area", "Dropoff Community Area", "CompanyNew", "Trip Date", "Trip Time"]]

In [137]:
new_data.head()

,Trip Seconds,Trip Miles,Pickup Community Area,Dropoff Community Area,CompanyNew,Trip Date,Trip Time
18,1260,0.6,77,28,BRTAI,2019-01-01,0
20,360,0.8,8,8,TAS,2019-01-01,0
22,360,1.0,8,8,TAS,2019-01-01,0
23,420,0.8,8,8,TIAL,2019-01-01,0
24,180,0.7,77,4,TAS,2019-01-01,0

In [ ]:
new_data.to_csv('taxiSmall.csv', sep=",", index=False)