In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('Taxi_Trips_-_2019.csv')
df.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,f24ef1302cd672bbcbeb7dbc60ef78dceeb138b7,1801165e22d31b0d2557544664d5ac37511b6cd2972126...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,885.0,3.45,NaN,NaN,NaN,NaN,...,4.0,16.75,Cash,Flash Cab,NaN,NaN,NaN,NaN,NaN,NaN
1,8e40b9c59af7b2897dc7a1163c472903e0dd6e9a,7a387c4ea03aea6f051c2083737fa232315f8dad35cf36...,01/01/2019 12:00:00 AM,01/01/2019 12:00:00 AM,8.0,0.00,NaN,NaN,NaN,NaN,...,0.0,3.25,Cash,Chicago Carriage Cab Corp,NaN,NaN,NaN,NaN,NaN,NaN
2,189631d3891a33361d68ef460c2d3049179f9837,d1d781b6807176ed53fbb9d0010dd0a87e29c073984bda...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,960.0,4.90,NaN,NaN,NaN,NaN,...,1.0,20.10,Credit Card,Star North Management LLC,NaN,NaN,NaN,NaN,NaN,NaN
3,e4941ac16f2fccf07218d2656a056103a4bf64a6,6933327f9cc740e893a882282f7d06460207d6d4e084b3...,01/01/2019 12:00:00 AM,01/01/2019 12:00:00 AM,420.0,1.50,NaN,NaN,NaN,NaN,...,0.0,7.50,Cash,Star North Management LLC,NaN,NaN,NaN,NaN,NaN,NaN
4,57a104b6cf260f117de051e61193e806ceb0f347,6933327f9cc740e893a882282f7d06460207d6d4e084b3...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,420.0,0.50,NaN,NaN,NaN,NaN,...,1.0,8.00,Credit Card,Star North Management LLC,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.shape

(16477365, 23)

In [11]:
df.dtypes

Trip ID                        object
Taxi ID                        object
Trip Start Timestamp           object
Trip End Timestamp             object
Trip Seconds                  float64
Trip Miles                    float64
Pickup Census Tract           float64
Dropoff Census Tract          float64
Pickup Community Area         float64
Dropoff Community Area        float64
Fare                          float64
Tips                          float64
Tolls                         float64
Extras                        float64
Trip Total                    float64
Payment Type                   object
Company                        object
Pickup Centroid Latitude      float64
Pickup Centroid Longitude     float64
Pickup Centroid Location       object
Dropoff Centroid Latitude     float64
Dropoff Centroid Longitude    float64
Dropoff Centroid  Location     object
dtype: object

In [13]:
sel_cols = df[["Trip Start Timestamp", "Trip Seconds", "Trip Miles", "Pickup Community Area", "Dropoff Community Area", "Company"]]

In [14]:
sel_cols.head()

,Trip Start Timestamp,Trip Seconds,Trip Miles,Pickup Community Area,Dropoff Community Area,Company
0,01/01/2019 12:00:00 AM,885.0,3.45,NaN,NaN,Flash Cab
1,01/01/2019 12:00:00 AM,8.0,0.00,NaN,NaN,Chicago Carriage Cab Corp
2,01/01/2019 12:00:00 AM,960.0,4.90,NaN,NaN,Star North Management LLC
3,01/01/2019 12:00:00 AM,420.0,1.50,NaN,NaN,Star North Management LLC
4,01/01/2019 12:00:00 AM,420.0,0.50,NaN,NaN,Star North Management LLC

In [16]:
#remove all trips less than 0.5 miles, and more than 100 miles
sel_cols = sel_cols[(sel_cols["Trip Miles"] >= 0.5) & (sel_cols["Trip Miles"] <= 100)]

In [19]:
sel_cols.shape

(12865503, 6)

In [20]:
#remove all trips less than 60 seconds, and greater than 5 hours
sel_cols = sel_cols[(sel_cols["Trip Seconds"] >= 60) & (sel_cols["Trip Seconds"] <= 18000)]

In [21]:
sel_cols.shape

(12844667, 6)

In [22]:
#remove all trips that either start or end outside of a Chicago community area
sel_cols = sel_cols[(sel_cols["Pickup Community Area"] >= 1) & (sel_cols["Pickup Community Area"] <= 77)]
sel_cols = sel_cols[(sel_cols["Dropoff Community Area"] >= 1) & (sel_cols["Dropoff Community Area"] <= 77)]
sel_cols.shape

(11398006, 6)

In [23]:
sel_cols.head()

,Trip Start Timestamp,Trip Seconds,Trip Miles,Pickup Community Area,Dropoff Community Area,Company
18,01/01/2019 12:00:00 AM,1260.0,0.6,77.0,28.0,Blue Ribbon Taxi Association Inc.
20,01/01/2019 12:00:00 AM,360.0,0.8,8.0,8.0,Taxi Affiliation Services
22,01/01/2019 12:00:00 AM,360.0,1.0,8.0,8.0,Taxi Affiliation Services
23,01/01/2019 12:00:00 AM,420.0,0.8,8.0,8.0,"Taxicab Insurance Agency, LLC"
24,01/01/2019 12:00:00 AM,180.0,0.7,77.0,4.0,Taxi Affiliation Services

In [24]:
sel_cols.to_csv('taxiSmall.csv', sep=",", index=False)